* {
  padding: 0px;
  border-left: 0px;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(0.25turn, #fce3e3, #c7c7c7, #9b9b9b);
}

.padding {
  padding: 2%;
}

footer section {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

section.margin h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin: 10px 0 10px 0;
}

.margh2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.req__h2 {
  text-align: center;
  font-style: italic;
  font-size: xx-large;
  margin-bottom: 50px;
}

.h3sub {
  margin-bottom: 10px;
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.caja {
  border: solid;
  border-width: 1.5px;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}

.centrado {
  justify-content: space-evenly;
  align-items: center;
}

.flex {
  display: flex;
}

div.flex label {
  display: block;
  margin: 6px 0 6px 0;
}

.ancho {
  width: 100%;
}

.card__div {
  width: 50%;
}

.card__img {
  width: 200px;
  height: 200px;
}

.flexc {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.video {
  width: 100%;
  height: 100%;
  border: 1px;
  border-style: solid;
}

div.flex input {
  width: 100%;
  height: 30px;
  border: 1px;
  border-radius: 6px;
}

textarea {
  width: 100%;
  border-radius: 6px;
}

div.flex div input.button {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: rgb(255, 0, 0);
  margin: 0px;
  border-radius: 6px;
}

div.flex div {
  display: flex;
  justify-content: center;
}

form {
  width: 500px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  border-style: none;
  margin-right: 45px;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
