/*Tamaño de letra del nav*/
$font-size-nav: large;
/*Colores del gradient en el background del main*/
$colorbg1: #fce3e3;
$colorbg2: #c7c7c7;
$colorbg3: #9b9b9b;
/*Mapa de colores para redes*/
$redes: (
  whatsapp: #57c005,
  linkedin: #048fea,
  instagram: #e619b3,
);
